[submodule "Mach1DecodePlugin/Source/ThirdParty/glm"]
	path = Mach1DecodePlugin/Source/ThirdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "Mach1EncodePlugin/Source/ThirdParty/glm"]
	path = Mach1EncodePlugin/Source/ThirdParty/glm
	url = https://www.github.com/g-truc/glm
